.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: 3rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--breakpoint-lg);
}

.flex {
  display: flex;
  flex-direction: column;
  .center {
    align-content: center;
    justify-content: center;
  }
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  max-width: var(--breakpoint-medium);
  gap: 1rem;
}
