.container {
  text-align: center;
}

.whisker {
  color: var(--color-main-purple);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2.5rem;
}

.sub_heading {
  color: var(--color-gray-2);
}
